/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
}

header {
    background-color: #369;
    padding: 10px;
    color: white;
    position: relative;
}

/* Header Styles */

#nav-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 10px;
}

#login-button {
    background-color: white;
    color: #369;
    border: none;
    width: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#genius-button {
    background-color: white;
    color: #369;
    border: none;
    width: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#login-button:hover {
    background-color: #369;
    color: white;
    text-decoration: none;
}

#genius-button:hover {
    background-color: #369;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

iframe {
    width: 40%;
    height: 400px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.photo-gallery img {
    max-width: 100%;
    height: auto;
}

.gallery-item {
    display: inline-block;
    width: 300px;
    vertical-align: top; /* Align the top of each item */
    margin-right: 20px; /* Add spacing between items */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

table th {
    background-color: #333;
    color: white;
}
